@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --TitleFont: "Alatsi", serif;
    --Font: "Josefin Sans", sans-serif;
    --color1: #000066;
    --color2: #000099;
    --colorActive: #AD77E3;
    --colorText: white;
  }


section {
    display: grid;
    grid-template-columns: 25% 75%;
    font-family: var(--Font);
} 

nav {
    background: var(--color1);
    font-family: var(--Font);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  nav a {
    color: var(--colorText);
    text-decoration: none;
    text-align: center;
    padding: .5em;
    margin: .5em;
  }

  a:hover {
    background: var(--color2);
  }
  
  a:active {
    background: var(--colorActive);
  }

article {
    margin-left: 1em;
    margin-right: 20%;
} 

h1 {
    display: inline;
    flex-grow: 1;
    order: -1;
    font-family: var(--TitleFont);
  }


body {
    background: var(--color2);
    color: var(--colorText);
}

main img {
    min-width: 374px;
    width: 100%;
    display: block;
}
